<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.shop.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.shop.pojo.Product" >
    <id column="pro_id" property="proId" jdbcType="VARCHAR" />
    <result column="pro_name" property="proName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="stock" property="stock" jdbcType="BIGINT" />
    <result column="pro_image" property="proImage" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="pictures" property="pictures" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="cate_id" property="cateId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="seller_id" property="sellerId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pro_id, pro_name, price, stock, pro_image, specification, keyword, pictures, introduction, 
    status, deleted, cate_id, city_id, seller_id, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.itcast.shop.pojo.ProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from product
    where pro_id = #{proId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from product
    where pro_id = #{proId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.itcast.shop.pojo.ProductExample" >
    delete from product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.itcast.shop.pojo.Product" >
    insert into product (pro_id, pro_name, price, 
      stock, pro_image, specification, 
      keyword, pictures, introduction, 
      status, deleted, cate_id, city_id, 
      seller_id, create_time)
    values (#{proId,jdbcType=VARCHAR}, #{proName,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{stock,jdbcType=BIGINT}, #{proImage,jdbcType=VARCHAR}, #{specification,jdbcType=VARCHAR}, 
      #{keyword,jdbcType=VARCHAR}, #{pictures,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{deleted,jdbcType=BIT}, #{cateId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{sellerId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.shop.pojo.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="proId != null" >
        pro_id,
      </if>
      <if test="proName != null" >
        pro_name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="proImage != null" >
        pro_image,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="pictures != null" >
        pictures,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="cateId != null" >
        cate_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="proId != null" >
        #{proId,jdbcType=VARCHAR},
      </if>
      <if test="proName != null" >
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=BIGINT},
      </if>
      <if test="proImage != null" >
        #{proImage,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="pictures != null" >
        #{pictures,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="cateId != null" >
        #{cateId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.itcast.shop.pojo.ProductExample" resultType="java.lang.Integer" >
    select count(*) from product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update product
    <set >
      <if test="record.proId != null" >
        pro_id = #{record.proId,jdbcType=VARCHAR},
      </if>
      <if test="record.proName != null" >
        pro_name = #{record.proName,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.stock != null" >
        stock = #{record.stock,jdbcType=BIGINT},
      </if>
      <if test="record.proImage != null" >
        pro_image = #{record.proImage,jdbcType=VARCHAR},
      </if>
      <if test="record.specification != null" >
        specification = #{record.specification,jdbcType=VARCHAR},
      </if>
      <if test="record.keyword != null" >
        keyword = #{record.keyword,jdbcType=VARCHAR},
      </if>
      <if test="record.pictures != null" >
        pictures = #{record.pictures,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.deleted != null" >
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.cateId != null" >
        cate_id = #{record.cateId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null" >
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.sellerId != null" >
        seller_id = #{record.sellerId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update product
    set pro_id = #{record.proId,jdbcType=VARCHAR},
      pro_name = #{record.proName,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      stock = #{record.stock,jdbcType=BIGINT},
      pro_image = #{record.proImage,jdbcType=VARCHAR},
      specification = #{record.specification,jdbcType=VARCHAR},
      keyword = #{record.keyword,jdbcType=VARCHAR},
      pictures = #{record.pictures,jdbcType=VARCHAR},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=BIT},
      deleted = #{record.deleted,jdbcType=BIT},
      cate_id = #{record.cateId,jdbcType=INTEGER},
      city_id = #{record.cityId,jdbcType=INTEGER},
      seller_id = #{record.sellerId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.shop.pojo.Product" >
    update product
    <set >
      <if test="proName != null" >
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=BIGINT},
      </if>
      <if test="proImage != null" >
        pro_image = #{proImage,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="pictures != null" >
        pictures = #{pictures,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="cateId != null" >
        cate_id = #{cateId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pro_id = #{proId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.shop.pojo.Product" >
    update product
    set pro_name = #{proName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=BIGINT},
      pro_image = #{proImage,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      pictures = #{pictures,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      deleted = #{deleted,jdbcType=BIT},
      cate_id = #{cateId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      seller_id = #{sellerId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where pro_id = #{proId,jdbcType=VARCHAR}
  </update>
  
  <select id="getNewProductByCateId" resultMap="BaseResultMap">
  	select * from product where deleted=0 and cate_id=#{cateId} and status=1
  	order by create_time desc limit 1
  </select>
  
  <select id="getListBySellerId" resultMap="BaseResultMap">
  	select * from product where deleted=0 and seller_id=#{sellerId} 
  	order by create_time desc
  </select>
  
  <select id="getListByCateId" resultMap="BaseResultMap">
  	select * from product where deleted=0 and cate_id=#{cateId} and status=1
  	order by create_time desc
	<if test="num!=null">
		limit #{num}
	</if>
  </select>
  <select id="getPagingList" resultMap="BaseResultMap">
  	select * from product where deleted=0
  	<if test="sellerId!=null">
  	and seller_id=#{sellerId}
  	</if>
  	<if test="cateId!=null and cateId!=''">
  	and cate_id=#{cateId}
  	</if>
  	<if test="cityId!=null and cityId!=''">
  	and city_id=#{cityId}
  	</if>
  	
  	<if test="beginTime!=null">
  	and create_time &gt;= #{beginTime}
  	</if>
  	<if test="endTime!=null">
  	and create_time &lt;= #{endTime}
  	</if>
  	<if test="keyword!=null and keyword!=''">
  	and (pro_id like concat('%',#{keyword},'%') or
  	pro_name like concat('%',#{keyword},'%') or
  	keyword like concat('%',#{keyword},'%'))
  	
  	</if>
  	<choose>
  		<when test="status!=null">
  			and status=#{status}
  		</when>
  		<otherwise>
  		<if test="sellerId==null">
  			and status=1
  		</if>
  		</otherwise>
  	</choose>
  	
  	<choose>
  		<when test="order!=null and order!=''">
  			order by ${order} asc
  		</when>
  		<otherwise>
  			order by create_time desc
  		</otherwise>
  	</choose>
  	<if test="pageSize!=null">
  	limit #{offset}, #{pageSize}
  	</if>
   </select>
   <select id="getCount" resultType="int">
  	select count(*) from product where deleted=0
  	<if test="sellerId!=null">
  	and seller_id=#{sellerId}
  	</if>
  	<if test="cateId!=null and cateId!=''">
  	and cate_id=#{cateId}
  	</if>
  	<if test="cityId!=null and cityId!=''">
  	and city_id=#{cityId}
  	</if>
  	
  	<if test="beginTime!=null">
  	and create_time &gt;= #{beginTime}
  	</if>
  	<if test="endTime!=null">
  	and create_time &lt;= #{endTime}
  	</if>
  	<if test="keyword!=null and keyword!=''">
  	and (pro_id like concat('%',#{keyword},'%') or
  	pro_name like concat('%',#{keyword},'%') or
  	keyword like concat('%',#{keyword},'%'))
  	
  	</if>
  	<choose>
  		<when test="status!=null">
  			and status=#{status}
  		</when>
  		<otherwise>
  		<if test="sellerId==null">
  			and status=1
  		</if>
  		</otherwise>
  	</choose>
   </select>
   
   <update id="updateStock">
    update product 
    <choose>
    	<when test="status==0">
    		set stock=stock-#{amount}
    	</when>
    	<otherwise>
    		set stock=stock+#{amount}
    	</otherwise>
    </choose>
     where pro_id=#{proId}
   </update>
   
   <select id="getSellerList" resultType="string">
	   select seller_id from product where deleted=false and pro_id in
	   <foreach collection="proIds" close=")" item="id" open="(" separator=",">
	   #{id}
	   </foreach>
	   group by seller_id
   </select>
   <update id="deleted">
    	update product set deleted=true where seller_id=#{sellerId} and pro_id in
	   <foreach collection="proIds" close=")" item="id" open="(" separator=",">
	   #{id}
	   </foreach>
   </update>
   <update id="changeStatus">
    	update product set status=#{status} where seller_id=#{sellerId} and pro_id in
	   <foreach collection="proIds" close=")" item="id" open="(" separator=",">
	   #{id}
	   </foreach>
   </update>
   
</mapper>